@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --raleway-font: "Raleway", "sans-serif";
  --lora-font: "Lora", "serif";
}

body {
  min-height: 100dvh;
  width: 100%;
  scroll-behavior: smooth;
}
